name: build

on:
  workflow_dispatch:

jobs:
  build:
    name: build

    runs-on: ${{ matrix.os }}
    
    strategy:
      matrix:
        # os: ["ubuntu-latest", "macos-latest", "windows-latest"]
        os: ["ubuntu-22.04"]

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
      
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build
        run: cargo build
